@charset "utf-8";
@import url(normalize.css);
@import url(fonts.css);
@import url(highlight.css);
@import url(http://fonts.googleapis.com/css?family=Numans,Droid+Sans);
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/norimania\/Sites\/jq\.ui\.checks\/styles\/scss\/style\.scss}line{font-family:\0000314}}
body {
  background: #fefefe;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/norimania\/Sites\/jq\.ui\.checks\/styles\/scss\/style\.scss}line{font-family:\0000318}}
.cont {
  margin: 0 auto;
  padding: 0 10px;
  width: 800px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/norimania\/Sites\/jq\.ui\.checks\/styles\/scss\/style\.scss}line{font-family:\0000324}}
h1 {
  font-family: 'Numans', sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/norimania\/Sites\/jq\.ui\.checks\/styles\/scss\/style\.scss}line{font-family:\0000330}}
h2,
h3,
h4,
p {
  font-family: 'Droid Sans', sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/norimania\/Sites\/jq\.ui\.checks\/styles\/scss\/style\.scss}line{font-family:\0000338}}
h1,
.description,
h3,
h4,
pre {
  margin-right: auto;
  margin-left: auto;
  width: 600px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/norimania\/Sites\/jq\.ui\.checks\/styles\/scss\/style\.scss}line{font-family:\0000342}}
h2 {
  margin-right: auto;
  margin-left: auto;
  width: 600px;
  padding-top: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/norimania\/Sites\/jq\.ui\.checks\/styles\/scss\/style\.scss}line{font-family:\0000347}}
h4 {
  padding-top: 5px;
  font-size: 108%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/norimania\/Sites\/jq\.ui\.checks\/styles\/scss\/style\.scss}line{font-family:\0000351}}
h4:before {
  margin-right: 5px;
  content: '-';
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/norimania\/Sites\/jq\.ui\.checks\/styles\/scss\/style\.scss}line{font-family:\0000357}}
header {
  margin: 0 auto;
  padding-bottom: 40px;
  width: 600px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/norimania\/Sites\/jq\.ui\.checks\/styles\/scss\/style\.scss}line{font-family:\0000362}}
header .download {
  float: right;
  position: relative;
  top: -70px;
  font-size: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/norimania\/Sites\/jq\.ui\.checks\/styles\/scss\/style\.scss}line{font-family:\0000368}}
header .download a {
  border: solid #000 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding: 7px 20px;
  color: #fff;
  text-decoration: none;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4), 1px 1px 2px rgba(255, 255, 255, 0.1) inset, -1px -1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4), 1px 1px 2px rgba(255, 255, 255, 0.1) inset, -1px -1px 2px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4), 1px 1px 2px rgba(255, 255, 255, 0.1) inset, -1px -1px 2px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 2px rgba(0, 0, 0, 0.4), 1px 1px 2px rgba(255, 255, 255, 0.1) inset, -1px -1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4), 1px 1px 2px rgba(255, 255, 255, 0.1) inset, -1px -1px 2px rgba(0, 0, 0, 0.2);
  background: #45484d;
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(69, 72, 77, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(69, 72, 77, 0.9)), color-stop(100%, rgba(0, 0, 0, 0.9)));
  background: -webkit-linear-gradient(top, rgba(69, 72, 77, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
  background: -o-linear-gradient(top, rgba(69, 72, 77, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
  background: -ms-linear-gradient(top, rgba(69, 72, 77, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
  background: linear-gradient(top, rgba(69, 72, 77, 0.9) 0%, rgba(0, 0, 0, 0.9) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#45484d', endColorstr='#000000',GradientType=0 );
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/norimania\/Sites\/jq\.ui\.checks\/styles\/scss\/style\.scss}line{font-family:\0000396}}
header nav {
  width: 100%;
  height: 40px;
  position: absolute;
  top: 100px;
  left: 0;
  background: rgba(37, 37, 37, 0.9);
  line-height: 40px;
  z-index: 100;
  -webkit-transition: background-color ease 0.2s;
  -moz-transition: background-color ease 0.2s;
  -ms-transition: background-color ease 0.2s;
  -o-transition: background-color ease 0.2s;
  transition: background-color ease 0.2s;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/norimania\/Sites\/jq\.ui\.checks\/styles\/scss\/style\.scss}line{font-family:\00003111}}
header nav.fixscroll_fixed {
  background: rgba(37, 37, 37, 0.7);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/norimania\/Sites\/jq\.ui\.checks\/styles\/scss\/style\.scss}line{font-family:\00003115}}
header nav ul {
  margin: 0 auto;
  padding-left: 0;
  width: 600px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/norimania\/Sites\/jq\.ui\.checks\/styles\/scss\/style\.scss}line{font-family:\00003120}}
header nav ul li {
  display: inline-block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/norimania\/Sites\/jq\.ui\.checks\/styles\/scss\/style\.scss}line{font-family:\00003123}}
header nav ul li a {
  margin: 0 16px 0 0;
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/norimania\/Sites\/jq\.ui\.checks\/styles\/scss\/style\.scss}line{font-family:\00003129}}
header nav ul li a:hover {
  text-decoration: underline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/norimania\/Sites\/jq\.ui\.checks\/styles\/scss\/style\.scss}line{font-family:\00003138}}
section {
  border-bottom: dashed rgba(0, 0, 0, 0.3) 1px;
  padding-bottom: 40px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/norimania\/Sites\/jq\.ui\.checks\/styles\/scss\/style\.scss}line{font-family:\00003142}}
section:last-child {
  border: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/norimania\/Sites\/jq\.ui\.checks\/styles\/scss\/style\.scss}line{font-family:\00003146}}
section h3 {
  border-bottom: dotted rgba(0, 0, 0, 0.7) 1px;
  padding: 10px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/norimania\/Sites\/jq\.ui\.checks\/styles\/scss\/style\.scss}line{font-family:\00003151}}
section p {
  margin: 0 auto;
  width: 600px;
  font-size: 16px;
  line-height: 1.6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/norimania\/Sites\/jq\.ui\.checks\/styles\/scss\/style\.scss}line{font-family:\00003157}}
section p + p {
  padding-top: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/norimania\/Sites\/jq\.ui\.checks\/styles\/scss\/style\.scss}line{font-family:\00003162}}
section table {
  margin: 30px auto 0;
  border: solid #000 1px;
  border-bottom: none;
  border-left: none;
  border-collaplse: seperate;
  width: 700px;
  font-size: 14px;
  line-height: 1.6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/norimania\/Sites\/jq\.ui\.checks\/styles\/scss\/style\.scss}line{font-family:\00003172}}
section table thead {
  background: rgba(37, 37, 37, 0.8);
  color: #efefef;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/norimania\/Sites\/jq\.ui\.checks\/styles\/scss\/style\.scss}line{font-family:\00003179}}
section table th, section table td {
  border: solid #000 1px;
  border-top: none;
  border-right: none;
  padding: 10px 15px;
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/norimania\/Sites\/jq\.ui\.checks\/styles\/scss\/style\.scss}line{font-family:\00003188}}
section ul {
  margin: 0 auto;
  padding: 10px 20px;
  width: 600px;
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/norimania\/Sites\/jq\.ui\.checks\/styles\/scss\/style\.scss}line{font-family:\00003194}}
section ul li {
  line-height: 1.6;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/norimania\/Sites\/jq\.ui\.checks\/styles\/scss\/style\.scss}line{font-family:\00003197}}
section ul li a {
  color: #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/norimania\/Sites\/jq\.ui\.checks\/styles\/scss\/style\.scss}line{font-family:\00003200}}
section ul li a:hover {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/norimania\/Sites\/jq\.ui\.checks\/styles\/scss\/style\.scss}line{font-family:\00003207}}
section input[type=button] {
  font-size: 86%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/norimania\/Sites\/jq\.ui\.checks\/styles\/scss\/style\.scss}line{font-family:\00003211}}
section .sb {
  margin: 0 auto;
  padding-top: 30px;
  display: block !important;
  width: 600px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/norimania\/Sites\/jq\.ui\.checks\/styles\/scss\/style\.scss}line{font-family:\00003219}}
.thx {
  text-align: right;
}
